{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Connexion{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/csslogin/logstyle.css')}}">
{% endblock %}

{% block body %}

<h1 class="font size color textc margintop">AfterWatch</h1>
<section class="flex jcenter">
    <form method="post" class="jumbotron width margint">
        {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div>
            Vous êtes connectée {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
        {% endif %}

        <h3 class="font textc">Connexion</h3>
        <div class="form-group">
            <label for="inputUsername">Pseudo</label>
            <input type="text" class="form-control" value="{{ last_username }}" name="username" id="inputUsername"
                placeholder="Pseudo" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputPassword">Mot de Passe</label>
            <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Mot de passe"
                required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <p class="textc"> Si vous n'avez pas de compte: <a href="{{ path('app_register') }}" class="colorin"
                href="inscription.html">Inscrivez-vous</a></p>
        <div class="flex jcenter margintop">
            <a href="#"><button type="submit" class="btn btn-color marginr">Connexion</button></a>
            <a href="{{ path('welcome') }}"><button type="button" class="btn btn-color">Retour</button></a>
        </div>
    </form>
</section>
{% endblock %}