{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Connexion{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/csslogin/logstyle.css')}}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans&display=swap%27');
</style>
{% endblock %}

{% block body %}

<a href="{{ path('welcome') }}"><h1 class="font size color textc margintop">AfterWatch</h1></a>

{% for msg in app.flashes('uploaded') %}
    <div class="bg-success text-center">{{ msg }}</div>
{% endfor %}
{% for msg in app.flashes('pwerror') %}
    <div class="bg-danger text-center">{{ msg }}</div>
{% endfor %}
{% for msg in app.flashes('changepw') %}
    <div class="bg-info text-center">{{ msg }}</div>
{% endfor %}

<main class="flex flexdr">
    <section class="margint paddingr marginl">
        <div class="flex jcenter card border border-light carte">
            <div class="flex jcenter margintop">
                <img src="{% if utilisateur.avatar %}{{ asset('img/avatar/'~utilisateur.avatar ) }}{% else %}{{ asset('img/avatar/utilisateur.png') }}{% endif %}" class="card-img-top rounded-circle avatar"
                    alt="image de profil {{ utilisateur.username }}">
            </div>
            <div class="flex jcenter flexdr alignit ">
                <div class="ligne marginr"></div>
                <h5 class="card-title textc marget marginr">{{ utilisateur.username }}</h5>
                <div class="ligne"></div>
            </div>

        </div>
    </section>
    <section class="taille">
        {{ form_start(form,{'attr': {'class': 'margint scrollform'}}) }}
        <!--<form class=" margint scrollform" enctype="multipart/form-data">-->
            <h2 class="font textc">Profil</h2>
            <div class="form-group">
                {{ form_errors(form.image) }}
                {{ form_label(form.image,'Avatar') }}
                <!--<input type="file" accept="jpeg,jpg,png" class="form-control-file" id="Avatar">-->
                {{ form_widget(form.image,{'attr': {'class': 'form-control-file'}}) }}
            </div>
            <p class="card-title textc modifier">Modifier Mot de Passe</p>
            <div class="form-group">
                <!--<label for="Mot">Ancien Mot de passe</label>
                <input type="password" class="form-control" id="Pseudo" placeholder="Pseudo">-->
                {{ form_errors(form.oldpassword) }}
                {{ form_label(form.oldpassword,'Ancien Mot de passe') }}
                {{ form_widget(form.oldpassword,{'attr': {'class': 'form-control', 'placeholder': 'Ancien mot de passe'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.newpassword) }}
                {{ form_label(form.newpassword,'Nouveau Mot de passe') }}
                <!--<label for="Password">Nouveau Mot de passe</label>-->
                <!--<input type="password" class="form-control" id="Password" placeholder="Mot de passe">-->
                {{ form_widget(form.newpassword,{'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
            </div>
            <div class="form-group">
                <!--<label for="Password">Confirmer nouveau Mot de passe</label>
                <input type="password" class="form-control" id="Password" placeholder="Mot de passe">-->
                {{ form_errors(form.confirmpassword) }}
                {{ form_label(form.confirmpassword,'Confirmer nouveau Mot de passe') }}
                {{ form_widget(form.confirmpassword,{'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
            </div>
            <div class="flex jcenter margint">
                <button type="submit" class="btn btn-color marginr">Enregistrer</button>
                <a href="{{ path('welcome') }}"><button type="button" class="btn btn-danger">Annuler</button></a>
            </div>
        <!--</form>-->
        {{ form_widget(form.username, {'type': 'hidden'} ) }}
        
        {{ form_widget(form.roles, {'type': 'hidden'} ) }}
        {{ form_widget(form.email, {'type': 'hidden'} ) }}
        {{ form_widget(form.avatar, {'type': 'hidden'} ) }}
        {{ form_widget(form.ban, {'type': 'hidden'} ) }}
        {{ form_end(form) }}
    </section>
</main>

{% endblock %}