{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Inscription{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/csslogin/logstyle.css')}}">
{% endblock %}

{% block body %}
<h1 class="font size color textc margintop">AfterWatch</h1>

<section class="flex jcenter ">

    {{ form_start(registrationForm, {'attr': {'class': 'jumbotron width margint'}}) }}
    <div class="form-group">
        {{ form_row(registrationForm.username,{'attr': {'class': 'form-control'}}, {'label': 'Pseudo'}) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}, {'label': 'Adresse Mail'}) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}, {'label': 'Mot de Passe'}) }}
    </div>
    <div class="form-group">
        {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-control'}}, {'label': 'Condition
        d\'utilisation'}) }}
    </div>

    <p class="textc"> Si vous avez déjà un compte: <a class="colorin" href="{{ path('app_login') }}">Connectez-vous</a>
    </p>
    <div class="flex jcenter margintop">
        <button class="btn btn-color marginr">Inscription</button>
        <a href="{{ path('welcome') }}"><button type="button" class="btn btn-color">Retour</button></a>
    </div>
    {{ form_end(registrationForm) }}

</section>
{% endblock %}