{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Informations sur le film {{ film.titre }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
body 
{
    margin: 0;
    background: #000;
    max-height: 100%; 
}
video 
{ 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#films 
{ 
    font-weight:100; 
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 600px;
    margin:2rem;
    float: right;
    font-size: 1.2rem;
    max-height: 100%;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
h2
{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .2rem;
    
}
a
{
  max-width: max-content;
}
section
{
    border-top: 1px solid #8080809d;
}

.flexbutton
{
    margin: auto;
    display: flex;
    justify-content: space-between; 
}
#films button, a
{ 
  display: block;
  width: 100%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#films button:hover { 
   background: rgba(0,0,0,0.5);
}

.btn, a
{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
.b-annonce
{
    float: left;
    position: fixed;
    top: 20%;
    left: 10%;
}
iframe
{
    width:640px; 
    height:360px;
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url('') #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

</style>
{% endblock %}

{% block body %}

<section>
  <video poster="{{ asset('img/godzi2.jpg') }}" id="bgvid" playsinline autoplay muted loop>
  </section>
  
  <div class="b-annonce">
      <iframe src='http://player.allocine.fr/19583604.html' style='width:640px; height:360px;' scrolling='no'></iframe>   
  </div>
  
  <div id="films">
      <div class="flexbutton">
          <div class="button">
              <a class="film_a_voir button btn" href="#">Mes films à voir</a>
              <a class="film_vu button btn">Mes films vu</a>
              <a class="button btn flexbutton" href="{{ path('welcome') }}">Retour à l'accueil</a>
          </div>
          </div> 
  </section>

  <section class="infos">
    <h1>{{ film.titre }}</h1>
    <article>
      <p><strong>Réalisateur(s): </strong>{% if film.realise|length > 0 %}{% for director in film.realise %} {{ director.nom }}{% endfor %}{% else %}Inconnu{% endif %}</p>
      <p><strong>Synopsis: </strong>{{ film.synopsis }}</p>
    <p><strong>Année: </strong>{{ film.date|date('Y') }}</p>
    <p><strong>Durée: </strong>{% if film.duree %}{{ film.duree // 60 }}h {{ film.duree % 60 }}mns{% else %}Inconnue{% endif %}</p>
    <p><strong>Nationalité: </strong>{% if film.nationalite %}{{ film.nationalite }}{% else %}Inconnue{% endif %}</p>
    <p><strong>Genre: </strong>{% if film.genreFilm|length > 0 %}{% for genre in film.genreFilm %} {{ genre.type }}{% endfor %}{% else %}Inconnu{% endif %}</p>        
    <p><strong>Scénariste(s): </strong>{% if film.scenario|length > 0 %}{% for scen in film.scenario %} {{ scen.nom }}{% endfor %}{% else %}Inconnu{% endif %}</p>
    <p><strong>Acteur(s): </strong>{% if film.acteurJoue|length > 0 %}{% for actor in film.acteurJoue %} {{ actor.nom }}{% endfor %}{% else %}Inconnu{% endif %}</p> 
    </article>
    </section>

    <section class="critique">
      <h2>Critiques</h2>
      <div class="button">
          <a class="a-voir" href="#" type="button">Voir les critiques</a>
      </div>
  
  </section>

  <section>
    <h2>Commentaires</h2>
    {% for comment in film.commentaires %}
      
    <p><strong>{{ comment.idUtilisateur.username }} : </strong>
    <i>{{ comment.contenu }}</i>
    </p>

    {% endfor %}

    <div class="button">
        <a class="Add button btn" type="button">Ajouter un commentaire</a>
    </div>
</section>

{% block javascripts %}
{{ parent() }}

<script>
var vid = document.getElementById("bgvid");
var pauseButton = document.querySelector("#films .button");

if (window.matchMedia('(prefers-reduced-motion)').matches) {
    vid.removeAttribute("autoplay");
    vid.pause();
    pauseButton.innerHTML = "Paused";
}
function vidFade() {
  vid.classList.add("stopfade");
}
vid.addEventListener('ended', function()
{ 
vid.pause();
vidFade();
}); 


pauseButton.addEventListener("click", function() {
  vid.classList.toggle("stopfade");
  if (vid.paused) {
    vid.play();
    pauseButton.innerHTML = "Pause";
  } else {
    vid.pause();
    pauseButton.innerHTML = "Paused";
  }
})
</script>
{% endblock %}
{% endblock %}