{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Informations sur le film {{ film.titre }}{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/csscontenu/contenuvoirfilm.css') }}">
<style>
  .backgrounddynamique {
    background: url({{ 'http://image.tmdb.org/t/p/w780/'~film.affiche }});
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
{% endblock %}

{% block body %}

{% if film.affiche == null %}

<body class="background">
  {% else %}

  <body class="backgrounddynamique">
    {% endif %}

    <!--<section>
  <video
    poster="{% if film.affiche %}{{ 'http://image.tmdb.org/t/p/w780/'~film.affiche }}{% else %}{{ asset('img/godzi2.jpg') }}{% endif %}"
    id="bgvid" playsinline autoplay muted loop>
</section>-->


    <div class="b-annonce">
      {% if film.trailer %}
      <iframe src='{{ 'https://youtube.com/embed/'~film.trailer }}' style='width:640px; height:360px;'
        scrolling='no'></iframe>
      {% endif %}
    </div>

    <div id="films">
      <div class="flexbutton">
        
          {% if app.user %}
          {% if enabledVeutVoir %}
          <a class="film_a_voir button btn"
            href="{{ path('ajouter_aVoir',{username: app.user.username,slug: film.slug}) }}">Je veux voir</a>
          {% endif %}
          {% if enabledAVu %}
          <a class="film_vu button btn"
            href="{{ path('ajouter_aVu',{username: app.user.username,slug: film.slug}) }}">J'ai vu</a>
          {% endif %}
          {% endif %}
          <a class="button btn flexbutton" href="{{ path('welcome') }}">Retour à l'accueil</a>
        
      </div>

      <section class="infos">
        <h1>{{ film.titre }}</h1>
        <article>
          <p><strong>Réalisateur(s):
            </strong>{% if film.realise|length > 0 %}{% for director in film.realise %}{% if loop.index == 1 %}{{ director.nom }}{% else %}
            / {{ director.nom }}{% endif %}{% endfor %}{% else %}Inconnu{% endif %}</p>
          <p><strong>Synopsis: </strong>{{ film.synopsis }}</p>
          <p><strong>Année: </strong>{{ film.date|date('Y') }}</p>
          <p><strong>Durée: </strong>{% if film.duree %}{{ film.duree // 60 }}h
            {{ film.duree % 60 }}mn{% else %}Inconnue{% endif %}</p>
          <p><strong>Nationalité: </strong>{% if film.nationalite %}{{ film.nationalite }}{% else %}Inconnue{% endif %}
          </p>
          <p><strong>Genre:
            </strong>{% if film.genreFilm|length > 0 %}{% for genre in film.genreFilm %}{% if loop.index == 1 %}{{ genre.type }}{% else %}
            / {{ genre.type }}{% endif %}{% endfor %}{% else %}Inconnu{% endif %}</p>
          <p><strong>Scénariste(s):
            </strong>{% if film.scenario|length > 0 %}{% for scen in film.scenario %}{% if loop.index == 1 %}{{ scen.nom }}{% else %}
            / {{ scen.nom }}{% endif %}{% endfor %}{% else %}Inconnu{% endif %}</p>
          <p><strong>Acteur(s):
            </strong>{% if film.acteurJoue|length > 0 %}{% for actor in film.acteurJoue %}{% if loop.index == 1 %}{{ actor.nom }}{% else %}
            / {{ actor.nom }}{% endif %}{% endfor %}{% else %}Inconnu{% endif %}</p>
        </article>
      </section>

      <section class="critique">
        <h2>Critiques</h2>
        <div class="button">
          <a class="a-voir" href="{{ path('critiques', {slug: film.slug}) }}" type="button">Voir les critiques</a>
        </div>

      </section>

      <section id="commentaire">
        <h2>Commentaires</h2>
        {% if app.user %}
        {{ form_start(form, {'attr': {'class': ' test form margint'}}) }}
        {{ form_errors(form.contenu) }}
        {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
        <button type="submit">Envoyer le Commentaire</button>
        {{ form_end(form) }}
        {% endif %}

        {% for comment in film.commentaires %}
        <article class="marginb">
          <hr>
          <div class="marginb flex flexdr">
            <div>
              <img class='avatar'
                src="{% if comment.idUtilisateur.avatar %}{{ asset('img/avatar/'~comment.idUtilisateur.avatar ) }}{% else %}{{ asset('img/avatar/utilisateur.png') }}{% endif %}"
                class="avatar">
            </div>
            <div class="flex flexd">
              <h6 class="margint marginle">de : {% if comment.idUtilisateur.roles[0] == 'ROLE_ADMIN' %}
                (Admin){% endif %}{{ comment.idUtilisateur.username }}</h6>
              <p class="card-text sizing justify marginle width ligne">
                {{ comment.contenu }}
              </p>
            </div>
          </div>
        </article>
        {% endfor %}

      </section>
    </div>
    {% endblock %}