{% extends 'baseAdmin.html.twig' %}


{% block title %} {{ parent() }} - Commentaires{% endblock %}

{% block body %}
<section class="flex jcenter">
    <table id="thèmes" class=" textc  marginb margint">
        <thead class="gras sizeg">
            <th>Commentaires</th>
            <th>Noms d'utilisateurs</th>
            <th>Titres</th>
            <th>Actions</th>
        </thead>

        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.contenu }}</td>
                <td>{{ comment.idutilisateur.username }}</td>
                <td>{{ comment.idfilm.titre }}</td>
                <td>
                    <a href="{{ path('comment_modifier', {id: comment.id}) }}"><button type="button"
                            class="btn btn-info btn-color marginr">Modifier</button></a>
                    <a href="{{ path('admin_confirmcommentsdelete', {id: comment.id}) }}"><button type="button"
                            class="btn btn-danger btnsup">Supprimer</button></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>Aucun Commentaire Trouvé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<nav class="margintnull">
    {% set route = 'admin_commentslist' %}
    {% set params = {} %}
    <ul class="pagination">
        {% if current_page > 1 %}
        <li class="page-item">
            <a class="page-link apagination color" href="{{ path(route, params|merge({page: current_page - 1})) }}"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% endif %}
        {% if max_page > 0 %}
        {% for page in 1..max_page %}
        <li class="page-item {% if page == current_page %}active{% endif %}">
            <a class="page-link apagination color" href="{{ path(route, params|merge({page: page})) }}">{{ page }}</a>
        </li>
        {% endfor %}
        {% endif %}
        {% if current_page < max_page %}
        <li class="page-item">
            <a class="page-link apagination color" href="{{ path(route, params|merge({page: current_page + 1})) }}"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
    </ul>
</nav>



{% endblock %}