{% extends 'baseAdmin.html.twig' %}


{% block title %} {{ parent() }} - Commentaires{% endblock %}

{% block body %}
<section class="flex jcenter">
    <table id="thèmes" class=" textc  marginb margint">
        <thead class="gras sizeg">
            <th>Commentaires</th>
            <th>Noms d'utilisateurs</th>
            <th>Titres</th>
            <th>Actions</th>
        </thead>

        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.contenu }}</td>
                <td>{{ comment.idutilisateur.username }}</td>
                <td>{{ comment.idfilm.titre }}</td>
                <td>
                    <a href="{{ path('comment_modifier', {id: comment.id}) }}"><button type="button" class="btn btn-info btn-color marginr">Modifier</button></a>
                    <a href="{{ path('admin_confirmcommentsdelete', {id: comment.id}) }}"><button type="button" class="btn btn-danger btnsup">Supprimer</button></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>Aucun Commentaire Trouvé</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
    
{% endblock %}


