{% extends 'baseAdmin.html.twig' %}


{% block title %} {{ parent() }} - Users{% endblock %}

{% block body %}
<div class="w-100 bg-success text-center" id="messages">
    {% for message in app.flashes('success') %}
    {{ message }}
    {% endfor %}
</div>
<section class="flex jcenter ">
    <table id="thèmes" class=" textc margint  marginb">
        <thead class="gras sizeg">
            <th>Avatar </th>
            <th>Pseudo </th>
            <th>Email </th>
            <th>Rôle</th>
            <th>Action</th>
        </thead>

        <tbody>
            {% for user in users %}
            {% if user.ban == false %}
            <tr class="rouge">
                {% else %}
            <tr>
                {% endif %}
                <td><img src="{% if user.avatar %}{{ asset('img/avatar/'~user.avatar ) }}{% else %}{{ asset('img/avatar/utilisateur.png') }}{% endif %}" style="height: 75px;"
                        alt="image de profil {{ user.username }}"></td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                {% for role in user.roles %}
                <td> {{ role }} </td>
                {% endfor %}

                <td>
                    {% if user.roles[0] == 'ROLE_USER' %}

                    <!--<input type="checkbox" checked data-toggle="toggle" data-on="Actif" data-off="Banni" data-onstyle="success" data-offstyle="danger">-->
                    {% if user.ban %}
                    <a href="{{ path('user_toggleban', {id: user.id}) }}"><button type="button"
                            class="btn btn-danger">Bannir</button></a>

                    {% else %}

                    <a href="{{ path('user_toggleban', {id: user.id}) }}"><button type="button"
                            class="btn btn-success">Dé-bannir</button></a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td>Aucun Utilisateur Trouvé</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</section>
<nav class="margintnull">
    {% set route = 'admin_userlist' %}
    {% set params = {} %}
    <ul class="pagination ">
        {% if current_page > 1 %}
        <li class="page-item ">
            <a class="page-link apagination color" href="{{ path(route, params|merge({page: current_page - 1})) }}"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% endif %}
        {% if max_page > 0 %}
        {% for page in 1..max_page %}
        <li class="page-item {% if page == current_page %}active{% endif %}">
            <a class="page-link apagination color" href="{{ path(route, params|merge({page: page})) }}">{{ page }}</a>
        </li>
        {% endfor %}
        {% endif %}
        {% if current_page < max_page %}
        <li class="page-item">
            <a class="page-link apagination color" href="{{ path(route, params|merge({page: current_page + 1})) }}">Suivant</a>
        </li>
        {% endif %}
    </ul>
</nav>


{% endblock %}