{% extends 'baseAdmin.html.twig' %}


{% block title %} {{ parent() }} - Users{% endblock %}

{% block body %}
<div class= "w-100 bg-success text-center" id="messages">
    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}
</div>
<section class="flex jcenter">
    <table id="thèmes" class=" textc margint  marginb">
        <thead class="gras sizeg">
                <th>Avatar </th>
                <th>Pseudo </th>
                <th>Email </th>
                <th>Rôle</th>
                <th>Action</th>
        </thead>
    
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.avatar }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    {% for role in user.roles %}
                       <td> {{ role }} </td> 
                    {% endfor %}
                    
                    <td>
                        {% if user.roles[0] == 'ROLE_USER' %}

                        <!--<input type="checkbox" checked data-toggle="toggle" data-on="Actif" data-off="Banni" data-onstyle="success" data-offstyle="danger">-->
                        {% if user.ban %}
                        <a href="{{ path('user_toggleban', {id: user.id}) }}"><button type="button" class="btn btn-danger">Bannir</button></a>

                        {% else %}
                            
                        <a href="{{ path('user_toggleban', {id: user.id}) }}"><button type="button" class="btn btn-success">Dé-bannir</button></a>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
            <tr>
                <td>Aucun Utilisateur Trouvé</td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
</section>
{% endblock %}
