{% extends 'baseAdmin.html.twig' %}


{% block title %} {{ parent() }} - Users{% endblock %}

{% block body %}
<section class="flex jcenter">
    <table id="thèmes" class=" textc margint  marginb">
        <thead class="gras sizeg">
                <th>Avatar </th>
                <th>Pseudo </th>
                <th>Email </th>
                <th>Rôle</th>
                <th>Action</th>
        </thead>
    
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.avatar }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    {% for role in user.roles %}
                       <td> {{ role }} </td> 
                    {% endfor %}
                    
                    <td>
                            <input type="checkbox" checked data-toggle="toggle" data-on="Actif" data-off="Banni" data-onstyle="success" data-offstyle="danger">
                        <a href="{{ path('admin_confirmuserdelete', {id: user.id}) }}"><button type="button" class="btn btn-info btn-danger">Bannir</button></a>
                    </td>
                </tr>
            {% else %}
            <tr>
                <td>Aucun Utilisateur Trouvé</td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
</section>
{% endblock %}
