<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}AfterWatch{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/Effethover.css') }}">
        <link rel="stylesheet" href="{{ asset('css/form.search.style.scss') }}">
        <link rel="stylesheet" href="{{ asset('css/navbar_accueil.css') }}">

        <link rel="stylesheet" href="{{ asset('css/index_accueil.css') }}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans&display=swap%27');
</style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="wrapbody">
            <div class="rep-contenu-h"></div>

        {% block header %}
        <header class="fond-h">

            <div class="contenu-h">
                <img class="logo-med logo" src="{{ asset('img/logo/afterwatch_logo.png') }}"></img>

                <div class="partie-h-b">

                    <div class="haut">
                        <div class="barre-recherche">
                            <div id="recherche-h">
                                <div class="recherche-auto-flex">   
                                <form action="{{ path('search') }}" method="get">
                                <input list="films" class="searchTerm" type="search" size="75%" id="site-search" autocomplete="off" name="searchFilms" placeholder="recherche un film.." aria-label="Search through site content">
                                
                                <button id="buttonr" class="searchButton">Rechercher</button>
                                </form>
                                </div>
                            </div>
                        </div>                        
                    
                    <div class="co-et-regist"><!--parties connexion et inscripton-->
                        {% if app.user %}{# Si connecté #}
                        <div>
                            <div>
                                <img src="{#{{AFAIRE}}#}" alt="">
                            </div>
                            {{ app.user.username }},<button class="registrer btn" type="button"><a href="{{ path('app_logout') }}">Deconnexion</a></button>
                        </div>
                        {% else %}{# Si non connecté #}
                        <button class="registrer btn" type="button" data-rel="btn-connect"><a href="{{ path('app_login') }}">Connexion</a></button><!--ici pour la connexion de l'utilisateur-->
                        <button class="registrer btn" type="button" data-rel="btn-registrer" ><a href="{{ path('app_register') }}">Inscription</a></button><!--ici pour l'inscription-->
                        {% endif %}
                    </div>
                    
                    <datalist id="films"></datalist>
                        <div id="messageErreur"></div>
                   
                    </div>

                    <div class="nav">
                        <input type="checkbox" id="nav-check">
                        <div class="nav-header">
                        </div>
                        <div class="nav-btn">
                        <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                        </label>
                        </div>

                        <div class="nav-links">

                                        {% if app.request.get('_route') != 'welcome' and app.request.get('_route') != 'search'  %}
                                            <a href="{{ path('welcome') }}">Accueil</a>
                                        {% endif %}
                                        {% if app.request.get('_route') != 'alaffiche' %}
                                            <a href="{{ path('alaffiche') }}">A l'affiche</a>
                                        {% endif %}
                                        {% if app.request.get('_route') != 'futures_sorties' %}
                                            <a href="{{ path('futures_sorties') }}">Les futures sorties</a>
                                        {% endif %}
                                        {% if app.request.get('_route') != 'recommandations' %}
                                            <a href="{{ path('recommandations') }}">Recommandations</a>
                                        {% endif %}
                                        
                                            <a href="./links/mes_films_vu.html">Mes films</a>
                    
                        </div>
                    </div>

            </div>
        </header>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        <footer>
            <div id="contener_footer">

                <div class="navig-list-footer">
                    <ul class="navig-footer">
                        <li class="navig-main-item">
                            <a href="#">A propos</a>
                        </li>
                        <li class="navig-main-item">
                            <a href="#">Nous contacter</a>
                        </li>
                        <li class="navig-main-item">
                            <a href="#">Conditions d'utilisation</a>
                        </li>
                        <li class="navig-main-item">
                            <a href="#">Forum</a>
                        </li>
                    </ul>
                </div>

            </div>
    </footer>
        {% endblock %}

        {% endblock %}
        </div>

        {% block javascripts %}
        <script src="{{ asset('js/jquery-3.4.1.js') }}"></script>
        
        <script src="{{ asset('js/popper.min.js') }}" crossorigin="anonymous"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
        
        <script>
    $(function(){

        function envoyer(){
            var query = $("#site-search").val().trim();
            $("#films select").remove();
            if (query != "" && query.length > 3){
              
        $.ajax({
            type : 'GET',
            url : "{{ path('autocomplete_film_search') }}",
            data : 'q='+query,
            dataType : 'JSON',
        success: function(response){
            console.log("oui");
            $("#films").append("<select></select>");
 
            for (let i = 0; i < response.length; i++) {
                console.log(response[i]["titre"]);
                $("#films select").append("<option value='"+response[i]["titre"].replace("'","&#39;")+"'>Rechercher "+response[i]["titre"]+"</option>");

            }
            
        }                 
        });
    }

    }

    var timer;

    $("#buttonr").click(function(event){
        var q = $("#site-search").val();
        if (q.trim().length <= 1){
            event.preventDefault();
            $("#messageErreur").append("<p class='text-center'>L'expression en recherche est trop courte</p>");
        }
    })

    $("#site-search").keyup(function(event){
        clearTimeout(timer);
        $("#messageErreur").empty();
        timer = setTimeout(envoyer,1000);
        event.preventDefault();
    })
})
</script>
        {% endblock %}
    </body>
</html>
